<!--Contenedor del formulario-->
<main class="contenido">
  <section class="tarjeta">
    <header class="titulo-tarjeta">
      <h2>Listado de Usuarios</h2>
    </header>

    <div class="cuerpo-tarjeta">
      <div class="barra-herramientas">
        <button class="boton btn-agregar" (click)="abrirModal()">
          <mat-icon>add_circle</mat-icon>Nuevo Usuario
        </button>
        <!--Caja de búsqueda-->
        <div class="cuadro-buscar">
          <input type="text" class="tipo-fuente" placeholder="Buscar Usuarios" [(ngModel)]="valorBusqueda" (input)="buscarRegistros()">
        </div>
      </div>

      <!--Crear tabla-->
      <table>
        <thead>
          <tr>
            <th class="ocultar-columna">Id</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Rol</th>
            <th>Teléfono</th>
            <th>Email</th>
            <th class="ocultar-columna">Clave</th>
            <th>Estado</th>
            <th>Acciones</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let usuario of registros()">
            <td data-label="Id" class="ocultar-columna">{{ usuario.idUsuario }}</td>
            <td data-label="Nombres">{{ usuario.nombres }}</td>
            <td data-label="Apellidos">{{ usuario.apellidos }}</td>
            <td data-label="Rol">{{ usuario.rolDescripcion }}</td>
            <td data-label="Teléfono">{{ usuario.telefono }}</td>
            <td data-label="Email">{{ usuario.email }}</td>
            <td data-label="Clave" class="ocultar-columna">{{ usuario.clave }}</td>
            <td data-label="Estado">{{ usuario.estado }}</td>
            <td data-label="Acciones" class="acciones">
              <button class="editar" (click)="abrirModal(usuario)">
                <mat-icon>edit</mat-icon>
              </button>
              <button class="eliminar" (click)="eliminarRegistro(usuario.idUsuario)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>

  <app-form-usuario *ngIf="modalAbierto" (cerrar)="cerrarModal()" (guardar)="guardarUsuario($event)" [usuario]="editarRegistro"></app-form-usuario>
</main>

